# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

.vscode
.local-maven-repo

# 临时解包/反编译参考源码，禁止追踪
.tmp
